body{
  overflow-x: hidden;
}
#home-hero{
  height: 90vh; 

  background-image: url('./assets/home/hero.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  
}


#home-hero-text h1{
  font-family: sans-serif;
  width: fit-content; 
  height: fit-content; 
  /* padding: 2em 0 2em 0;  */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  letter-spacing: -2.5px
}

#home-hero-text{
 text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#hero-descrip-img h2{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#home-mission{
  background-attachment: fixed;
}

#nav-bar{
  /* background: rgba(255, 255, 255, 0.247);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(2px) brightness(65%);
  -webkit-backdrop-filter: blur( 0.75px );
  z-index: 99; 

}

h1, h2{
  font-family: sans-serif; 
}


#link-consultation{
  background-color: white;
  color: #565B2D;
  border-radius: 10px;
  padding: 5px;
}

#link-consultation:hover{
  background-color: #565B2D;
  color: white;
  text-decoration: none;
}

#nav-bar-main li:hover{
  text-decoration:line-through;
}



#hero-descrip-img{
  background-image: url('./assets/home/hero-mission2.jpg');
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(95%) sepia(20%);
}

#hero-descrip-text{
  /* background-color: rgb(2, 68, 11);  */
  /* color: white;  */
}

#header-logo{
  width: 2.5em; 
  
}

p{
  font-family: sans-serif;
}

#hero-descrip-logo{
  filter: brightness(0) saturate(100%) invert(17%) sepia(40%) saturate(381%) hue-rotate(36deg) brightness(94%) contrast(94%);
}



#home-service-card img{
  width: 80%; 
  height: 50%;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#home-service-card h3{
  font-size: 3em; 
  transform:translateY(30px); 
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
}


#home-service-card p{
  transform: translateY(-50px) translateX(70px); 

}


/* test */

.bg{
  background-image: url(../src/assets/home/home-services2.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.left, .right{
  flex: 1; 
}

.left .inner{
  height: 100vh; 
  display: block; 
}

.right .inner{
  padding: 40px 100px; 
  font-size: 22px; 
}

.left .inner.stick{
  position: sticky; 
  top: 0; 
}

.left .inner.stick .bg{
  position: absolute; 
  left: 0;
  top: 0; 
  bottom: 0; 
  right: 0; 
  width: 100%;
  height: 100%; 
}

.bg{
  display: flex; 
  justify-content: center;
  align-items: center;
}



#home-description-main-bg{
  background-image: url('./assets/home/home-description.jpg');
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%; 

  /* border: solid 4em #f9f6e7;
  border-left: 0; */
}

#home-reviews-img-0{
  background-image: url('./assets/home/home-reviews-1.jpg'); 

}

#home-reviews-img-1{
  background-image: url('./assets/home/home-reviews-3.jpg'); 

}

#home-reviews-img-2{
  background-image: url('./assets/home/home-reviews-2.jpg'); 
 

}

.home-reviews-imgs{
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh; 
}


.review-card{
  flex: 0 0 auto; 
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}


.scroll::-webkit-scrollbar {
   width: 12px;
}

.scroll::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px #565b2d43;
   border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: #565b2dba;
 
}

.rating{
  filter: invert(91%) sepia(15%) saturate(7497%) hue-rotate(358deg) brightness(90%) contrast(106%);
}


.contact-input{
  border-bottom: solid 1px #FFFAE4; 
  background-color: transparent;
  margin-bottom: 0.5em;
}

#contact-form label{
  font-style: italic;
  text-align: center;
  font-size: 0.75em;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder
{
  color: #fffae4ab;
}

#contact-form textarea{
  resize: none; 
}

#contact-form p{
  font-size: 0.75em; 
  color: rgb(138, 25, 25); 
  height: 1.5em; 
}

.input-invalid{
  border-bottom: solid 1px rgb(138, 25, 25);
  background-color: transparent;
  margin-bottom: 0.5em;
}

#about-ourstory-main-img{
  width: 40vw; 
  background-image: url('./assets/about/about-ourstory-1.jpg');
  background-attachment: fixed;
  background-size: 40%; 
  background-repeat: no-repeat;
  background-position: right;
}

#about-ourstory-sec-img{
  width: 40vw; 
  background-image: url('./assets/about/about-ourstory-2.jpg');
  background-attachment: fixed;
  background-size: 40%; 
  background-repeat: no-repeat;
  background-position: left; 
}

#about-ourteam-img{
  width: 100vw; 
  height: 50vh; 
  background-image: url('./assets/about/about-ourteam.jpg');
  background-size: 100%; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; 
}
/* 





#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


/* @tailwind base;
@tailwind components;
@tailwind utilities; */